<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="UI TEST">
  <test  name="functional">
    <classes>
      <class name="TrainingSamples.TestngD1four"/>
      <class name="TrainingSamples.TestngD1two"/>
      <class name="TrainingSamples.TestngD1three"/>
      <class name="TrainingSamples.TestngD1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
